<!-- about.component.html -->
<section class="page">
  <div class="container">
    <div class="page-content">
      <h2 class="section-title">About Me</h2>
      <div class="about-grid">
        <div class="hero-avatar">CR</div>
        <div class="about-text">
          <h2>IPAS</h2>
          <p>With over 3+ years of experience in Java development, I specialize in data integration gateways within the trading sector. Proficient in leveraging Java and Apache Kafka to design and implement robust solutions for seamless data flow and processing.</p>
          <p>Adept at optimizing data pipelines,complex business requirements and drive operational efficiency.</p>
         
        </div>
      </div>
      
      <h3 class="skills-title">Technical Skills</h3>
      <div class="skills-grid">
        <div *ngFor="let skill of skills" class="skill-item">
          {{ skill }}
        </div>
      </div>
    </div>
  </div>
</section>